<div class="boxA"> 
  <div class="box1"> 
    <div class="site"> 
      <h1><a href="#">Posco by H2M</a></h1> 
    </div> 
  </div>
  <div class="box2"> 
    <nav class="menu"> 
      <ul> 
        <li><a href="#">トップ</a></li> 
        <li><a href="#">お問い合わせ</a></li> 
          <% if user_signed_in? %> 
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li> 
          <% else %>
        <li><%= link_to image_tag("login.gif", class: "topimg6"), new_user_session_path %></li> 
          <% end %>
        
      <li><%= link_to image_tag("facebook.jpg", class: "topimg2"), user_omniauth_authorize_path(:facebook), class: 'navbar-link' %> </li> 
      <li><%= link_to image_tag("twitter.png", class: "topimg2"), user_omniauth_authorize_path(:twitter), class: 'navbar-link' %> </li> 
        
      </ul>
    </nav> 
  </div> 
</div>
<div class="box3"> 
  <%= image_tag("header1.png", class: "topimg", class: "img-responsive") %> 
</div>
<div class="box4"> 
  <div class="box4-1"> 
    <div class="merit"> 
      <a href="#"> <%= image_tag("新聞.png", class: "topimg3") %>  <h1>新聞配達チャネルを用いたサービス</h1> 
        <p>日本Ｎｏ.１宅配スキルを持つ新聞配達。またチラシを活用した販促を自在に操り、新しいビジネスモデルを確立。</p> </a>
    </div> 
  </div> 
  <div class="box4-2"> 
    <div class="merit"> 
      <a href="#"> <%= image_tag("主婦.png", class: "topimg3") %> <h1>主婦ネットワークを用いたサービス</h1> 
        <p>出産後の雇用問題を解決するべく、ワーキングマザーを目指す主婦を応援。口コミマーケティングを最大活用。</p> </a>
    </div> 
  </div> 
  <div class="box4-3"> 
    <div class="merit"> 
      <a href="#"> <%= image_tag("インターネット.gif", class: "topimg4") %> <h1>インターネットを用いたサービス</h1> 
        <p>成長著しいインターネット販売。多くのユーザーに素晴らしいサービスを提供。</p> </a>
    </div> 
  </div> 
</div>
<div class="box5"> 
  <div class="copyright"> 
    <p>Copyright &copy; 2015 H2M Corporation All Rights Reserved.</p> 
  </div> 
</div>
